.stand {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 20px 110px 20px 100px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
