.burgerMenuIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 5%; 
}

.header h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    color: #000;
}